body {
    background-color: #5B028E;
    margin: 0;
}

body header div {
    height: 100px;
    width: 50%;
    background-color: white;
    position: absolute;
    margin: 25%;
    border-radius: 15px;

}